<div>
  <div>
    <mat-form-field>
        <input class=""  matInput (keyup)="applyFilter($event.target.value)">
    </mat-form-field>
    <button (click)="openAddMoreDialog()">Add</button>
  </div>
  <div>
      <div class="example-container mat-elevation-z8">
          <mat-table #table [dataSource]="dataSource"  matSort (matSortChange)="sortData($event)">

            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef mat-sort-header="title"> Title </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.title}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="firstname">
              <mat-header-cell *matHeaderCellDef mat-sort-header="firstname"> Firstname </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.firstname}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="lastname">
                <mat-header-cell *matHeaderCellDef mat-sort-header="lastname"> Lastname </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.lastname}}</mat-cell>
              </ng-container>
        
            <!-- Email Column -->
            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef mat-sort-header="email"> Email </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
            </ng-container>
        
            <!-- Mobile Column -->
            <ng-container matColumnDef="address">
              <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
            </ng-container>
              
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="handleRowClick(row)"></mat-row>
          </mat-table>
        
          <mat-paginator #paginator
                         [pageSize]="10"
                         [pageSizeOptions]="[5, 10, 20, 50]">
          </mat-paginator>
        </div>
  </div>
</div>
