<div *ngIf="updateForm">
  <form [formGroup]="updateForm">
    <mat-form-field>
        <mat-error> Please enter valid title. </mat-error>
        <input matInput id="title" placeholder="Title" formControlName="title" required>
    </mat-form-field>
    <mat-form-field>
      <mat-error> Please enter valid firstname. </mat-error>
      <input matInput id="firstname" placeholder="Firstname" formControlName="firstname" required>
    </mat-form-field>
    <mat-form-field> 
        <mat-error> Please enter valid lastname. </mat-error>   
        <input matInput id="lastname" type="text" placeholder="Lastname" formControlName="lastname" required>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-error> Please enter valid email. </mat-error>
        <input matInput id="email" type="email" placeholder="Email Address" formControlName="email" required>
    </mat-form-field>
    <mat-form-field>
        <mat-error> Please enter valid address. </mat-error>
        <textarea matInput id="address" type="text" placeholder="Address" formControlName="address"></textarea>
    </mat-form-field>
    <button mat-button [disabled]="updateForm.invalid" (click)="updateDetails()">Update</button>
    <button mat-raised-button (click)="cancelUpdatingCustomer()">Cancel</button>
  </form>
</div>